@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body{
    margin: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: white;
    height: 5vw;
    color: white;
    padding: 10px;
}

main{
    background-color: white;
}

a{
    color: white;
    text-decoration: none;
    background-color: blueviolet;
    border: 2px solid rgb(121, 33, 203);
    border-radius: 5px;
    padding: 4px;
}

/*INTRODUÇÃO*/

#fundo{
    background-image: url(imagens/fundoroxo1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 20px 30px 10px rgba(104,25,178,0.551);
    margin-bottom: 15vh;
}

#imgpro{
    width: 70%;
    background-attachment: fixed;
}

#links{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 8vw;
}

#links > a{
    padding: 15px;
}

#testeimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresenta{
    font-family: 'Rubik Mono One', monospace;
    width: 50vw;
    padding: 0.5vw;
    border-radius: 5px;
    margin: 0;
    margin-left: 5vw;
    color: white;
    font-size: 1.5vw;
}

#apresentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#entrada > h1{
    font-size: 2.5vw;
}
#entrada > h2{
    font-size: 2.5vw;
}

#botoes{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
}

#infos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 15vh;
}

/* fazer efeito 3d */
.card{
    background-color: white;
    width: 30vw;
    height: 40vh;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.542);
}

.headerCard{
    color: white;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

#descri{
    background-color: dodgerblue;
    color: white;
    width: 100%;
    height: 100%;
    margin: auto;
}

#sobremim{
    margin: auto;
    margin-bottom: 15vh;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: whitesmoke;
    align-content: center;
    justify-content: center;
    width: 80vw;
}
#conteudo{
    padding: 20px;
}

#imagemsobre{
    width: 100%;
}

/* descrição ao passar mouse */
#projetos{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    background-color: transparent;
    margin: auto;
    gap: 10px;
    width: 80vw;
    height: 80vh;
    perspective: 1500px;
}

.fontetxt{
    font-size: 1.5rem;
}

.fontetitulo{
    font-size: 2rem;
    text-align: center;
}

li{
    list-style: none;
    padding: 10px;
}

.cardprojeto{
    background-color: transparent;
    position: relative;
    transform-style: preserve-3d;
    transition: 600ms ease-in-out;
    transition-delay: 0.5ms;
}

.front, .back{
    text-align: center;
    background-color: purple;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.back{
    background-color: gold;
    transform: rotateY(180deg);
}

.cardprojeto:hover{
    transform: rotateY(180deg);
}

/*INTRODUÇÃO*/