@charset "UTF-8";

/*Typical device breakpoints

Telas pequenas: até 600px.
Celular: 600px até 768px.
Tablet: 768px até 992px.
Desktop: 992px até 1200px.
Grandes telas: acima de 1200px.
*/

@media (min-width: 481px){
    #burguer{
        display: none;
    }

    #intro{
        display: flex;
        flex-direction: row;
    }
    #listabotoes{
        display: flex;
        gap: 5px;
        background-color: white;
        margin-right: 10px;
    }
    #botoes{
        margin: auto;
    }
    li > a{
        background-color: white;
        border-top: none;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgb(147,0,245);
    }

    #intro{
        width: 100%;
        justify-content:space-between;
    }

    #fundo{
        height: 50vh;
    }

    .apresenta{
        font-size: 1.5em;
    }

    #apresentation{
        height: 60%;
        justify-content: space-between;
    }
}

@media (min-width: 600px){
    
    @keyframes anime{
        100%{
            background-position-x:-200% ;
        }
    }
    #testeflow{
        margin: auto;
        width: 80vw;
        height: 85vh;
        margin-bottom: 15vh;
        border-radius: 5px;
        background: linear-gradient(90deg, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 50%, rgb(64, 84, 178) 100%);
        animation: anime 1.5s linear infinite;
        background-size: 200% 200%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #fundotitulo{
        background: rgb(147,0,245);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        margin: auto;
        width: 30vw;
        height: 5vh;
    }
    #sobremim{
        width: 95%;
        height: 95%;
        display: grid;
        grid-template-rows: 60% 35%;
        align-content: center;
        justify-items: center;
        gap: 10px;
        overflow: hidden;
    }

    #descri{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 100%;
    }
    #conteudo{
        font-size: 1.1em;
        width: 90%;
        height: 90%;
    }
    #fundoimagemsobre{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(imagens/coding2.svg);
    }
    #imagemsobre{
        display: none;
        width: 50%;
    }
    #imagemsobre2{
        display: block;
        width: 92%;
        border-top: 1px black;
    }

    #habilidades{
        height: 80vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #card{
        height: 100%;
    }
    #cardbody{
        height: 100%;
    }
}