@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/*geral*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth
}

body{
    width: 100%;
    font-family: sans-serif;
    display: grid;
    grid-template-areas: "header header"
    "main main"
    "footer footer";
}

/*keyframes*/

@keyframes anime{
    100%{
        background-position-x:-200% ;
    }
}

/*inicio*/
header{
    width: 100vw;
    grid-area: header;
    background-color: white;
}

#cabeçalho{
    width: 100%;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#logo{
    width: 15vw;
    margin-left: 1vw;
}

#burguer{
    color: black;
    font-size: 7vw;
}

/*nav*/

#botoes{
    width: 100%;
}

li{
    display: flex;  
    list-style: none;
}

li > a{
    background-color: whitesmoke;
    padding: 5px;
    border-top: 1px solid purple;
    border-radius: 0;
    width: 100%;
}

#listabotoes{
    display: block;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}

a{
    color: rgb(147,0,245);
    text-decoration: none;
    background: white;
    border-radius: 3px;
    padding: 8px;
}

/*fontes*/
a{
    font-size: 4vw;
}

#listabotoes > li > a{
    font-size: 4vw;
}

.fonteEntrada{
    font-size: 4.5vw;
    color: white;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.fontetitulo{
    font-size: 5vw;
}

.fontetxt, #conteudo{
    font-size: 4vw;
}

.cardtitle{
    font-size: 7vw;
}

.cardtext{
    font-size: 5vw;
}

.cardtitle, .cardtext{
    color: white;

}

td, th, .front, .back{
    font-size: 3.5vw;
}

/*principal*/

main{
    grid-area: main;
    width: 100vw;
    background-color: whitesmoke;
}

/*banner*/

#fundo{
    padding: 30px;
    background: rgb(122,32,204);
    background: linear-gradient(22deg, rgba(122,32,204,1) 12%, rgba(166,0,255,1) 100%);
    margin-bottom: 15vh;
}

#containerInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#easterEgg__child2{
    display: none;
}

#links{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#links > a{
    width: 20vw;
}

#imgpro{
    display: none;
}

/*sobremim*/

#fundosobre{
    margin-bottom: 15vh;
}

#sobremim{
    text-align: center;
    background: white;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#descri{
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

#conteudo{
    text-align: justify;
}


#conteudo > p{
    padding: 3px;
}

#fundotitulo{
    background: rgb(147,0,245);
    background: linear-gradient(22deg, rgba(147,0,245,1) 20%, rgba(32,182,207,1) 100%);
    color: white;
}

#imagemsobre{
    display: none;
}

#imagemsobre2{
    display: none;
}

/*habilidades*/

#habilidades{
    margin: auto;
    width: 80vw;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-content: center;
    justify-items: center;
    gap: 10px;
    margin-bottom: 15vh;
    overflow: hidden;
}
.card{
    width: 70vw;
    height: 50vw;
    padding: 5px;
    background: rgb(87,0,158);
    background: linear-gradient(321deg, rgba(87,0,158,1) 0%, rgba(192,153,224,1) 21%, rgba(252,252,252,1) 51%, rgba(191,150,224,1) 79%, rgba(87,0,158,1) 100%);
    border-radius: 15px;
    overflow: hidden;
}
.card_link{
    width: 100%;
    height: 100%;
    display: block;
    padding: 30px 20px;
    background-color: white;
    overflow: hidden;
    border-radius: 13px;
    position: relative;
    padding: 0px;
}
/*
.card_link:hover .headercard{
    -webkit-transform: scale(3100);
    -ms-transform: scale(3100);
    transform: scale(300);
}
*/
.cardbody{
    padding: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    background: #ebebe3; 
    border-radius: 10px;
    text-align: center;
}
#container{
    background-color: whitesmoke;
}
.cardtop{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.imgcard{
    width: 10vw;
}


.headercard{
    height: 10vw;
    width: 10vw;
    background-color: rgb(87, 0, 145);
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.primeiro{
    background: dodgerblue;
}

.segundo{
    background: #f4e022;
}

.terceiro{
    background: #90f6d7;
}

.quarto{
    background: #ffa323;
}

/*projetos*/

#projetoslink{
    text-align: center;
    margin-bottom: 1vw;
}

#projetos{
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    padding: 10px;
    gap: 10px;
    margin-bottom: 15vh;
    border-radius: 5px;
}

.back{
    display: none;
}

.cardprojeto{
    background: rgb(122,32,204);
    background: linear-gradient(22deg, rgba(122,32,204,1) 12%, rgba(166,0,255,1) 100%);
    width: 70vw;
    height: 50vw;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

/*footer*/

footer{
    width: 100vw;
    height: 50vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

footer > h1{
    align-self: center;
    margin-bottom: 2vw;
}

tr{
    display: flex;
    align-items: center;
}

td{
    margin-left: 1.5vw;
}

#voltar{
    width: 40vw;
    text-align: center;
    margin: auto;
}

.footerbotao{
    padding: 0;
}

#voltar{
    border: 1px solid rgb(147,0,245);
}