@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


/*tablets*/
@media (min-width: 480px){
    #logo{
        width: 12vw;
    }
    #burguer{
        font-size: 6vw;
    }
    #containerInicio{
        height: 60vw;
        gap: 5vw;
    }
    .cardtop{
        padding: 10px;
    }
    .fonteEntrada{
        font-size: 5.1vw;
    }
    footer{
        gap: 25px;
    }
}

/*celulares*/
@media (min-width: 600px){
    
    #imagemsobre2{
        display: block;
        width: 70vw;
    }
    #descri{
        width: 80vw;
    }
    footer{
        gap: 30px;
    }
    .card{
        width: 50vw;
        height: 32vw;
    }
    .cardprojeto{
        width: 60vw;
        height: 35vw;
    }
    
    .cardtitle{
        font-size: 5.5vw;
    }
    
    .cardtext{
        font-size: 4.5vw;
    }
    
    td, th, .front, .back{
        font-size: 3vw;
    }

    td > a{
        font-size: 3vw;
    }

    footer > .fontetitulo{
        font-size: 4vw;
    }

    footer > a{
        font-size: 3vw;
    }
}

@media (min-width: 781px){
    @keyframes anime{
        100%{
            background-position-x:-200% ;
        }
    }


    .reveal_topo, .reveal_topo1, .reveal_topo2, .reveal_topo3, .reveal_topo4, .reveal_sobre, .reveal_card1, .reveal_card2, .reveal_card3, .reveal_img_sobre{
        visibility: hidden;
    }

    .reveal_sobre2{
        opacity: 1;
    }
    
    #linkheader{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #burguer{
        display: none;
    }
    #cabeçalho{
        width: 15vw;
    }
    #botoes{
        align-items: center;
        width: 100%;
        margin-right: 3vw;
    }
    #containerInicio{
        height: 45vw;
    }
    .fonteEntrada{
        font-size: 4.5vw;
    }
    #links > a{
        border: 2px solid white;
        width: 15vw;
        font-size: 3vw;
        transition: .2s ease-in-out;
    }
    #links > a:hover{
        color: white;
        transform: scale(1.04);
        background: linear-gradient(90deg, rgba(142,33,191,1) 0%, rgba(74,25,152,1) 50%, rgba(142,33,191,1) 100%);
        animation: anime 1.5s linear infinite;
        background-size: 200% 200%;
    }

    #listabotoes{
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: .7vw;
    }
    
    #listabotoes > li > a{
        background-color: rgb(117, 11, 188);
        color: white;
        font-size: 3vw;
        border-top: none;
        border: 1px solid white;
        border-radius: 5px 5px;
        padding: 5px;
        transition: .1s ease-in-out;
    }
    #listabotoes > li > a:hover{
        transform: scale(1.03);
        background-color: white;
        color: rgb(87, 0, 145);
        border: 1px solid rgb(93, 2, 154);
    }
    #fundosobre{
        margin: auto;
        width: 85vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        background: linear-gradient(90deg, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 50%, rgb(64, 84, 178) 100%);
        animation: anime 1.5s linear infinite;
        background-size: 200% 200%;
        margin-bottom: 15vh;
        border-radius: 10px 5px;
    }
    #fundotitulo{
        background: linear-gradient(90deg, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 50%, rgb(64, 84, 178) 100%);
        animation: anime 1.5s linear infinite;
        background-size: 200% 200%;
    }
    #sobremim{
        width: 100%;
        gap: 5vw;
        border-radius: 10px 5px;
    }
    #conteudo{
        font-size: 2.8vw;
    }
    #imagemsobre2{
        display: none;
    }
    #imagemsobre{
        display: block;
        width: 40vw;
    }
    #habilidades{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 10px 0px;
    }
    .card{
        width: 40vw;
        height: 25vw;
        background: linear-gradient(90deg, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 50%, rgb(64, 84, 178) 100%);
        animation: anime 1.5s linear infinite;
        background-size: 200% 200%;
    }
    .headercard{
        width: 5vw;
        height: 5vw;
        top: -35px;
        right: -35px;
    }
    .cardtitle{
        font-size: 5vw;
    }
    .cardtext{
        font-size: 3.5vw;
    }
    #tituloprojetos{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: rgba(167,0,255,1);
        margin: auto;
        width: 85vw;
        height: 8vw;
        border-radius: 10px 10px 0px 0px;
    }
    #projetos{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px 0px;
        border-radius: 0px 0px 10px 10px;
    }

    .cardprojeto{
        width: 40vw;
        height: 30vw;
    }
    
    td, th, .front, .back{
        font-size: 2.5vw;
    }

    td > a{
        font-size: 2.5vw;
    }

    .fontetitulo{
        font-size: 4vw;
    }

    footer > .fontetitulo{
        font-size: 3.5vw;
    }

    footer > a{
        font-size: 2.3vw;
    }
}

@media (min-width: 1024px){
    @keyframes glow{
        100%{
            filter: hue-rotate(360deg);
        }
    }
    @keyframes movimento{
        0%{
            transform: translateY(-30px);
        }
        50%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(-30px);
        }
    }
    #logo{
        width: 8vw;
    }
    #cabeçalho{
        height: 10vw;
    }
    #listabotoes > li > a{
        font-size: 2.3vw;
    }
    #containerInicio{
        height: 40vw;
    }
    .fonteEntrada{
        font-size: 3vw;
    }
    #links > a{
        width: 10vw;
        font-size: 2vw;
    }
    #fundo{
        display: grid;
        grid-template-columns: 60% 38%;
        background-image: url(../imagens/fundoroxo1.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    #easterEgg__child2{
        display: block;
        text-align: center;
    }
    #easterEgg{
        background-color: transparent;
        position: relative;
        transform-style: preserve-3d;
        transition: 600ms ease-in-out;
        transition-delay: 0.5ms;
        padding: 0.5vw;
        height: 4vw;
        cursor: pointer;
    }
    #easterEgg__child, #easterEgg__child2{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 5px;
    }
    #easterEgg__child2{
        transform: rotateX(180deg);
    }
    #easterEgg__child2 > h2{
        animation: glow 1.5s linear infinite;
        text-shadow: 0 0 15px;
        color: gold;
    }
    #easterEgg:hover{
        transform: rotateX(180deg);
    }
    #imgpro{
        display: block;
        align-self: center;
        justify-self: center;
        animation: movimento 3s infinite ease;
    }
    
    #sobremim{
        display: grid;
        grid-template-columns: 60% 35%;
        padding: 25px;
        align-content: center;
        justify-items: center;
    }
    #descri{
        width: 100%;
        flex-direction: column;
    }
    #conteudo{
        font-size: 2vw;
        align-self: center;
    }
    #fundotitulo{
        width: 100%;
        align-self: center;
        border-radius: 5px 10px;
    }
    #imagemsobre{
        width: 100%;
        align-self: center;
        justify-self: center;
    }
    .fontetitulo{
        font-size: 3.3vw;
    }
    .card{
        height: 25vw;
    }
    .card_link:hover .headercard{
        -webkit-transform: scale(3100);
        -ms-transform: scale(3100);
        transform: scale(300);
    }
    .card_link:hover .cardtext{
        color: white;
    }
    .card_link:hover .cardtitle{
        color: white;
    }
    .cardtitle{
        font-size: 4vw;
    }
    .cardtext{
        font-size: 3vw;
    }
    .card{
        width: 35vw;
        height: 20vw;
    }
    #projetos{
        perspective: 2000px;
        padding: .8vw 2vw 4vw 2vw;
        gap: 7px 5px;
    }
    .cardprojeto{
        height: 22vw;
        position: relative;
        transform-style: preserve-3d;
        transition: .5s ease-in-out;
    }
    .front, .back{
        backface-visibility: hidden;
        padding: 10px;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        font-size: 2vw;
    }
    .back{
        display: block;
        transform: rotateY(180deg);
    }
    .cardprojeto:hover{
        transform: rotateY(180deg);
    }
    footer{
        gap: 10px;
    }
    footer > .fontetitulo{
        font-size: 2.5vw
    }
    .footerbotao{
        font-size: 1.5vw;
    }
    td, th{
        font-size: 1.5vw;
    }
    #voltar{
        width: 18vw;
        font-size: 1.8vw;
    }
}

@media (min-width: 1200px){
    #cabeçalho{
        height: 7vw;
    }
    #logo{
        width: 5.8vw;
    }
    #listabotoes > li > a{
        font-size: 1.5vw;
        width: 12vw;
    }
    #tituloprojetos{
        width: 90vw;
    }
    .fonteEntrada{
        font-size: 3vw;
    }
    #links > a{
        font-size: 1.7vw;
        width: 9vw;
    }
    #habilidades{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px 15px;
    }
    .card{
        width: 100%;
        height: 15vw;
    }
    #projetoslink{
        font-size: 3vw;
    }
    #projetos{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 90vw;
        gap: 5px 5px;
    }
    .cardprojeto{
        width: 100%;
        height: 18vw;
    }
    #conteudo{
        font-size: 1.5vw;
    }
    .cardtitle{
        font-size: 2.8vw;
    }
    .cardtext{
        font-size: 2.2vw;
        padding: 5px;
    }
    #imagemsobre{
        width: 100%;
    }
    .front, .back{
        font-size: 1.3vw;
    }
    .fontetitulo{
        font-size: 2.2vw;
    }
    footer > .fontetitulo{
        font-size: 2vw;
    }
    td, th{
        font-size: 1.2vw;
    }
    .footerbotao{
        font-size: 1.2vw;
    }
    #voltar{
        width: 11vw;
        font-size: 1.3vw;
    }
    #imgpro{
        padding: 0;
    }
}