@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


/*tablets*/
@media (min-width: 480px){
    #logo{
        width: 12vw;
    }
    #burguer{
        font-size: 6vw;
    }
    #containerInicio{
        height: 60vw;
        gap: 5vw;
    }
    .fonteEntrada{
        font-size: 5.1vw;
    }
    footer{
        gap: 25px;
    }
}

/*celulares*/
@media (min-width: 600px){
    
    #imagemsobre2{
        display: block;
        width: 70vw;
    }
    #descri{
        width: 80vw;
    }
    footer{
        gap: 30px;
    }
    .card{
        width: 63vw;
        height: 40vw;
    }
    .cardprojeto{
        width: 60vw;
        height: 35vw;
    }
    
    .cardtitle{
        font-size: 5.5vw;
    }
    
    .cardtext{
        font-size: 4.5vw;
    }
    
    .cardtitle, .cardtext{
        color: white;
    
    }
    
    td, th, .front, .back{
        font-size: 3vw;
    }

    td > a{
        font-size: 3vw;
    }

    footer > .fontetitulo{
        font-size: 4vw;
    }

    footer > a{
        font-size: 3vw;
    }
}

@media (min-width: 781px){
    @keyframes anime{
        100%{
            background-position-x:-200% ;
        }
    }
    #linkheader{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #burguer{
        display: none;
    }
    #cabeçalho{
        width: 15vw;
    }
    #botoes{
        align-items: center;
        width: 100%;
        margin-right: 3vw;
    }

    #listabotoes{
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: .5vw;
    }
    #listabotoes > li > a{
        background-color: white;
        color: rgb(159, 7, 169);
        font-size: 3vw;
        border-top: none;
        border: 1px solid rgb(159, 7, 169);
        border-radius: 5px 5px;
        padding: 5px;
    }
    #fundosobre{
        margin: auto;
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: linear-gradient(90deg, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 50%, rgb(64, 84, 178) 100%);
        animation: anime 1.5s linear infinite;
        background-size: 200% 200%;
        margin-bottom: 15vh;
        border-radius: 10px 5px;
    }
    #sobremim{
        width: 100vw;
        gap: 5vw;
        border-radius: 10px 5px;
    }
    #conteudo{
        font-size: 3.5vw;
    }
    #imagemsobre2{
        display: none;
    }
    #imagemsobre{
        display: block;
        width: 40vw;
    }
    #habilidades{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px 0px;
    }
    .card{
        width: 40vw;
        height: 30vw;
    }
    .headercard{
        width: 5vw;
        height: 5vw;
        top: -7px;
        right: -7px;
    }
    .cardtitle{
        font-size: 4.3vw;
    }
    .cardtext{
        font-size: 3.5vw;
    }
    #tituloprojetos{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: rgba(167,0,255,1);
        margin: auto;
        width: 85vw;
        height: 8vw;
        border-radius: 50px 10px 0px 0px;
    }
    #projetos{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px 0px;
        border-radius: 0px 0px 10px 10px;
    }

    .cardprojeto{
        width: 40vw;
        height: 30vw;
    }
    
    td, th, .front, .back{
        font-size: 2.5vw;
    }

    td > a{
        font-size: 2.5vw;
    }

    .fontetitulo{
        font-size: 4vw;
    }

    footer > .fontetitulo{
        font-size: 3.5vw;
    }

    footer > a{
        font-size: 2.3vw;
    }
}